<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Towards A Cure
      </a>
    </div>
    <div class="pull-left">
      <a href="/pledges/new" class="btn btn-default navbar-btn">Pledge Now!</a>
</div>
    <div class="pull-right">
    <a href="/about">about</a>
    <a href="/login">admin</a>
  </div>
</nav>
