<fieldset>
  <legend>New Pledge</legend>
  <!-- TITLE -->
  <p>
    <label for="name">Name</label><br>
    <input type="text" name="name" />
  </p>
  <p>
    <label for="amount">Dollars</label><br>
    <input type="text" name="amount" />
  </p>
</fieldset>
