<form action="/pledges/thankyous" method="post">
<input type="hidden" value="{{pledge._id}}" name="pledgeId">
  <fieldset>
    <legend>Add a Thank you</legend>
    <!-- TITLE -->
    <div class="form-group">
      <label for="thankyou-title">Title</label><br>
      <input class="form-control"
        id="thankyou-title"
        type="text"
        name="title"
        placeholder="Title"/>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="content">Message</label><br>
      <textarea class="form-control"
      id="content"
      name="content"
      rows="10"
      placeholder="A personalize thank you..."/></textarea>
    </div>
  </fieldset>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
