<form method="Read" action="/about">
  <fieldset>
    <legend>About</legend>

<p>
  With your contribution we can reach our goal of finding a cure.
  Pledge today! The finish line is within sight.
</p>

  </fieldset>


<a href="/">Home</a>
</form>
