<form method="POST" action="/password">
  <fieldset>
    <legend>Admin Login</legend>

    <!-- password -->
    <p>
      <label for="name">Password</label><br>
      <input type="text" name="password" />

      <!-- BUTTON -->
      <p>
        <button type="submit">Login</button>
        <button type="submit">Logout</button>
      </p>
    </p>
  </fieldset>


<a href="/">Home</a>
</form>
