
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<h1><font color="white">{{pledge.name}}</font></h1>
<h2><font color="white">${{pledge.amount}}</font></h2>

<hr>

<style>

body {
    background-color: #808080;
}
</style>


    <!-- Show Comments -->
    {{#each thankyous}}
      {{> nonadmin-thankyou}}
    {{/each}}

<div class="pull-right"><a href="/"><font color="white">Home</font></a></div>

</div>
</div>
