<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<form method="POST" action="/pledges">

    <style>

    body {
        background-color: #808080;
    }
    </style>

{{> pledges-form}}

  <!-- BUTTON -->
  <div class="form-group">
    <button type="submit">Pledge!</button>
 </div>


 <div class="pull-right"><a href="/"><font color="white">Cancel</font></a></div>

</form>
</div>
</div>
