<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<form method="POST" action="/pledges">

{{> pledges-form}}

  <!-- BUTTON -->
  <div class="form-group">
    <button type="submit">Pledge!</button>
 </div>

<a href="/">Cancel</a>
</form>
</div>
</div>
