
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
<h1>{{pledge.name}}</h1>
<h2>{{pledge.amount}}</h2>

<p><a href="/pledges/{{pledge._id}}/edit">Edit Pledge</a></p>
<!-- Delete button -->
<p><form method="POST" action="/pledges/{{pledge._id}}?_method=DELETE">
    <button type="submit">Delete</button>
</form></p>
<!-- Comment form -->
    {{> thank_you-form}}

<hr>

    <!-- Show Comments -->
    {{#each thank_yous}}
      {{> thank_you}}
    {{/each}}
    
<a href="/">Home</a>
</div>
</div>
