
<h1>Pledges</h1>

<a href="/pledges/new">Pledge</a>

<a href="/login">admin</a>

{{#each pledges}}
<h2><a href="/pledges/{{this._id}}">{{this.name}}</a></h2>
  <small>{{this.amount}}</small>
{{/each}}
