
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<form method="POST" action="/pledges/{{pledge._id}}?_method=PUT">
{{> pledges-form}}

<!-- BUTTON -->
  <p>
    <button type="submit">Change Pledge</button>
  </p>


 <a href="/">Home</a>
</form>
</div>
</div>
